/*
   Monday, 15 August 202211:45:09 PM
   User: 
   Server: LAPTOP-BT59QU4U
   Database: Machine_Database_Fixed
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Maintenence_Table
	(
	Advanced_Maintenence varchar(MAX) NULL,
	Date varchar(MAX) NULL,
	Who_By nchar(10) NULL,
	ID_Grabber int NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Maintenence_Table ADD CONSTRAINT
	PK_Maintenence_Table PRIMARY KEY CLUSTERED 
	(
	ID_Grabber
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Maintenence_Table SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Maintenence_Table', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Maintenence_Table', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Maintenence_Table', 'Object', 'CONTROL') as Contr_Per 